header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    
}

li {
    padding: 5px;
}



